storage:
   dbPath: /var/lib/mongodb
net:
   bindIp: 0.0.0.0
   ssl:
      allowInvalidCertificates: true
      mode: requireSSL
      PEMKeyFile: /etc/ssl/mongo.pem
security.authorization: "enabled"
security.keyFile: /etc/mongo/keyfile
setParameter:
   enableLocalhostAuthBypass: true

